Project Code/Node-Red-Backup/flows.json
[{"id":"bb69e7a4.44a3e8","type":"tab","label":"Lamp and Temp and Hum","disabled":false,"info":""},{"id":"2fda10a1.561a88","type":"tab","label":"Serve Normal - Double Send Problem","disabled":false,"info":""},{"id":"b5adab96.c2d14","type":"tab","label":"PIR Sensor","disabled":false,"info":""},{"id":"a5a62563.ec3cf","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Smart Life and Home Security System","hideToolbar":"false","allowSwipe":"false","lockMenu":"icon","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1216f09f.0e292f","type":"ui_tab","name":"Smart Life and Home Security System (SLS)","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"5b4aced2.d78d98","type":"ui_group","name":"Room Light Control","tab":"1216f09f.0e292f","order":2,"disp":true,"width":"6","collapse":false},{"id":"1924539.d794fac","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1e5c02d5.fe327d","type":"ui_group","name":"Curtain Controls","tab":"1216f09f.0e292f","order":4,"disp":true,"width":"6","collapse":false},{"id":"68b7e41a.f6cafc","type":"ui_group","name":"Motion Alert","tab":"1216f09f.0e292f","order":5,"disp":true,"width":"6","collapse":false},{"id":"d621b105.20a8f8","type":"ui_group","name":"Room Temperature and Humidity","tab":"1216f09f.0e292f","order":3,"disp":true,"width":"6","collapse":false},{"id":"e5ca9a2c.b5e848","type":"ui_spacer","name":"spacer","group":"441fc1cb.439d3","order":5,"width":1,"height":1,"info":"[https://github.com/omerwwazap/ESP8266-GPIO-Usage]()"},{"id":"7b2d5867.571628","type":"ui_link","name":"Github Link","link":"https://github.com/omerwwazap/ESP8266-GPIO-Usage","icon":"github-circle","target":"newtab","order":2},{"id":"62b1c8c5.1791b8","type":"ui_chart","z":"bb69e7a4.44a3e8","name":"Temp","group":"d621b105.20a8f8","order":2,"width":0,"height":0,"label":"Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":630,"y":280,"wires":[[]]},{"id":"f5f25019.ff4b48","type":"ui_gauge","z":"bb69e7a4.44a3e8","name":"Humidity","group":"d621b105.20a8f8","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"50","x":640,"y":360,"wires":[]},{"id":"f42b4a92.599ab","type":"mqtt in","z":"bb69e7a4.44a3e8","name":"Temp","topic":"room/temperature","qos":"2","datatype":"auto","broker":"1924539.d794fac","x":440,"y":280,"wires":[["62b1c8c5.1791b8"]]},{"id":"fcc7ccd1.75ee9","type":"mqtt out","z":"bb69e7a4.44a3e8","name":"Lamp","topic":"room/lamp","qos":"1","retain":"","broker":"1924539.d794fac","x":990,"y":200,"wires":[]},{"id":"d08fe1cd.73fb1","type":"mqtt in","z":"bb69e7a4.44a3e8","name":"Humidity","topic":"room/humidity","qos":"2","datatype":"auto","broker":"1924539.d794fac","x":460,"y":360,"wires":[["f5f25019.ff4b48"]]},{"id":"aa9656aa.3f833","type":"ui_switch","z":"bb69e7a4.44a3e8","name":"Lamp","label":"Lamp","tooltip":"","group":"5b4aced2.d78d98","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"room/lamp","topicType":"str","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":450,"y":200,"wires":[["fcc7ccd1.75ee9","3899b5dc.d29c1a"]]},{"id":"49574ec6.a2c82","type":"mqtt out","z":"2fda10a1.561a88","name":"room/servo","topic":"room/servo","qos":"1","retain":"false","broker":"1924539.d794fac","x":910,"y":240,"wires":[]},{"id":"eb56529a.91ed8","type":"ui_button","z":"2fda10a1.561a88","name":"","group":"1e5c02d5.fe327d","order":1,"width":0,"height":0,"passthru":false,"label":"Min  0%","tooltip":"","color":"black","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"room/servo","topicType":"str","x":517.0000305175781,"y":241.66653442382812,"wires":[["456caad3.a6360c"]]},{"id":"12a3d918.fa5797","type":"ui_slider","z":"2fda10a1.561a88","name":"","label":"Servo","tooltip":"","group":"1e5c02d5.fe327d","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"room/servo","topicType":"str","min":0,"max":"100","step":"10","x":514.0000305175781,"y":389.66650390625,"wires":[["456caad3.a6360c"]]},{"id":"75cb23fc.a9e3ac","type":"ui_gauge","z":"2fda10a1.561a88","name":"","group":"1e5c02d5.fe327d","order":5,"width":0,"height":0,"gtype":"donut","title":"Servo position ","label":"position ","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":898,"y":309.66650390625,"wires":[]},{"id":"e92c1db6.d8343","type":"ui_button","z":"2fda10a1.561a88","name":"","group":"1e5c02d5.fe327d","order":3,"width":0,"height":0,"passthru":false,"label":"Max 100%","tooltip":"","color":"black","bgcolor":"","icon":"","payload":"100","payloadType":"num","topic":"room/servo","topicType":"str","x":519.0000305175781,"y":330.33319091796875,"wires":[["456caad3.a6360c"]]},{"id":"456caad3.a6360c","type":"function","z":"2fda10a1.561a88","name":"node","func":"\nreturn msg;","outputs":1,"noerr":0,"x":705.0000610351562,"y":275.3331604003906,"wires":[["49574ec6.a2c82","75cb23fc.a9e3ac","15ee6cd5.10e39b"]]},{"id":"15ee6cd5.10e39b","type":"link out","z":"2fda10a1.561a88","name":"slider","links":["345ab0a5.e1e898"],"x":861,"y":391.3331298828125,"wires":[]},{"id":"345ab0a5.e1e898","type":"link in","z":"2fda10a1.561a88","name":"","links":["15ee6cd5.10e39b"],"x":416.6923351287842,"y":451.7434501647949,"wires":[["12a3d918.fa5797"]]},{"id":"404e6c03.01664c","type":"ui_button","z":"2fda10a1.561a88","name":"","group":"1e5c02d5.fe327d","order":2,"width":0,"height":0,"passthru":false,"label":"50%","tooltip":"","color":"black","bgcolor":"","icon":"","payload":"50","payloadType":"num","topic":"room/servo","topicType":"str","x":508.0000305175781,"y":283.66650390625,"wires":[["456caad3.a6360c"]]},{"id":"3ca59101.18a5e6","type":"comment","z":"2fda10a1.561a88","name":"ESP8266 MQTT Control Servo","info":"","x":582.0000305175781,"y":170.66650390625,"wires":[]},{"id":"2f8c9a5f.637076","type":"mqtt in","z":"b5adab96.c2d14","name":"room/pir","topic":"room/pir","qos":"2","datatype":"auto","broker":"1924539.d794fac","x":640,"y":220,"wires":[["a37ac2a7.e722c8","96ce98fb.fabd48"]]},{"id":"a37ac2a7.e722c8","type":"ui_text","z":"b5adab96.c2d14","group":"68b7e41a.f6cafc","order":1,"width":0,"height":0,"name":"Motion Text","label":"","format":"{{msg.payload}}","layout":"row-center","x":870,"y":120,"wires":[]},{"id":"562a0b45.a9f8bc","type":"ui_toast","z":"b5adab96.c2d14","position":"top right","displayTime":"5","highlight":"RED","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Motion Detected","name":"","x":1070,"y":240,"wires":[]},{"id":"96ce98fb.fabd48","type":"switch","z":"b5adab96.c2d14","name":"0 or 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"No Movement","vt":"str"},{"t":"eq","v":"Hey I found something!!!","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":240,"wires":[[],["562a0b45.a9f8bc"]]},{"id":"3899b5dc.d29c1a","type":"switch","z":"bb69e7a4.44a3e8","name":"on or off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":540,"y":80,"wires":[[],[]]}]