Project Code/Node-Red/flows.json
[{"id":"bb69e7a4.44a3e8","type":"tab","label":"Lamp and Temp and Hum","disabled":false,"info":""},{"id":"2fda10a1.561a88","type":"tab","label":"Serve Normal - Double Send Problem","disabled":false,"info":""},{"id":"898e9a9b.2c53e","type":"tab","label":"Servo Test","disabled":true,"info":""},{"id":"a5a62563.ec3cf","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1216f09f.0e292f","type":"ui_tab","name":"Room","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"5b4aced2.d78d98","type":"ui_group","name":"Lamp","tab":"1216f09f.0e292f","order":1,"disp":true,"width":"6","collapse":false},{"id":"53c48569.a8e224","type":"ui_group","name":"Sensor","tab":"1216f09f.0e292f","order":2,"disp":true,"width":"6","collapse":false},{"id":"1924539.d794fac","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1e5c02d5.fe327d","type":"ui_group","name":"Servo Control","tab":"1216f09f.0e292f","order":2,"disp":true,"width":"6","collapse":false},{"id":"540d734.151940c","type":"ui_tab","name":"ESP8266","icon":"dashboard","order":2},{"id":"62b1c8c5.1791b8","type":"ui_chart","z":"bb69e7a4.44a3e8","name":"Temp","group":"53c48569.a8e224","order":0,"width":0,"height":0,"label":"Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":630,"y":280,"wires":[[]]},{"id":"f5f25019.ff4b48","type":"ui_gauge","z":"bb69e7a4.44a3e8","name":"Humidity","group":"5b4aced2.d78d98","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":360,"wires":[]},{"id":"f42b4a92.599ab","type":"mqtt in","z":"bb69e7a4.44a3e8","name":"Temp","topic":"room/temperature","qos":"2","datatype":"auto","broker":"1924539.d794fac","x":440,"y":280,"wires":[["62b1c8c5.1791b8"]]},{"id":"fcc7ccd1.75ee9","type":"mqtt out","z":"bb69e7a4.44a3e8","name":"Lamp","topic":"room/lamp","qos":"1","retain":"","broker":"1924539.d794fac","x":630,"y":200,"wires":[]},{"id":"d08fe1cd.73fb1","type":"mqtt in","z":"bb69e7a4.44a3e8","name":"Humidity","topic":"room/humidity","qos":"2","datatype":"auto","broker":"1924539.d794fac","x":460,"y":360,"wires":[["f5f25019.ff4b48"]]},{"id":"aa9656aa.3f833","type":"ui_switch","z":"bb69e7a4.44a3e8","name":"Lamp","label":"Lamp","tooltip":"","group":"5b4aced2.d78d98","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"room/lamp","topicType":"str","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":450,"y":200,"wires":[["fcc7ccd1.75ee9"]]},{"id":"49574ec6.a2c82","type":"mqtt out","z":"2fda10a1.561a88","name":"room/servo","topic":"room/servo","qos":"1","retain":"false","broker":"1924539.d794fac","x":687.4999694824219,"y":629.0001831054688,"wires":[]},{"id":"eb56529a.91ed8","type":"ui_button","z":"2fda10a1.561a88","name":"","group":"1e5c02d5.fe327d","order":1,"width":0,"height":0,"passthru":false,"label":"Min  0%","tooltip":"","color":"black","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"room/servo","topicType":"str","x":294.5,"y":630.6667175292969,"wires":[["456caad3.a6360c"]]},{"id":"12a3d918.fa5797","type":"ui_slider","z":"2fda10a1.561a88","name":"","label":"Servo","tooltip":"","group":"1e5c02d5.fe327d","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"room/servo","topicType":"str","min":0,"max":"100","step":1,"x":291.5,"y":778.6666870117188,"wires":[["456caad3.a6360c"]]},{"id":"75cb23fc.a9e3ac","type":"ui_gauge","z":"2fda10a1.561a88","name":"","group":"1e5c02d5.fe327d","order":5,"width":0,"height":0,"gtype":"donut","title":"Servo position ","label":"position ","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":675.4999694824219,"y":698.6666870117188,"wires":[]},{"id":"e92c1db6.d8343","type":"ui_button","z":"2fda10a1.561a88","name":"","group":"1e5c02d5.fe327d","order":3,"width":0,"height":0,"passthru":false,"label":"Max 100%","tooltip":"","color":"black","bgcolor":"","icon":"","payload":"100","payloadType":"num","topic":"room/servo","topicType":"str","x":296.5,"y":719.3333740234375,"wires":[["456caad3.a6360c"]]},{"id":"456caad3.a6360c","type":"function","z":"2fda10a1.561a88","name":"node","func":"\nreturn msg;","outputs":1,"noerr":0,"x":482.5000305175781,"y":664.3333435058594,"wires":[["49574ec6.a2c82","75cb23fc.a9e3ac","15ee6cd5.10e39b"]]},{"id":"15ee6cd5.10e39b","type":"link out","z":"2fda10a1.561a88","name":"slider","links":["345ab0a5.e1e898"],"x":638.4999694824219,"y":780.3333129882812,"wires":[]},{"id":"345ab0a5.e1e898","type":"link in","z":"2fda10a1.561a88","name":"","links":["15ee6cd5.10e39b"],"x":194.19230461120605,"y":840.7436332702637,"wires":[["12a3d918.fa5797"]]},{"id":"404e6c03.01664c","type":"ui_button","z":"2fda10a1.561a88","name":"","group":"1e5c02d5.fe327d","order":2,"width":0,"height":0,"passthru":false,"label":"50%","tooltip":"","color":"black","bgcolor":"","icon":"","payload":"50","payloadType":"num","topic":"room/servo","topicType":"str","x":285.5,"y":672.6666870117188,"wires":[["456caad3.a6360c"]]},{"id":"3ca59101.18a5e6","type":"comment","z":"2fda10a1.561a88","name":"ESP8266 MQTT Control Servo","info":"","x":359.5,"y":559.6666870117188,"wires":[]},{"id":"7d69b52b.d5084c","type":"mqtt out","z":"898e9a9b.2c53e","name":"room/servo","topic":"room/servo","qos":"1","retain":"false","broker":"1924539.d794fac","x":830,"y":280,"wires":[]},{"id":"aef0d0e0.490828","type":"ui_button","z":"898e9a9b.2c53e","name":"Min  0%","group":"1e5c02d5.fe327d","order":1,"width":0,"height":0,"passthru":false,"label":"Min  0%","tooltip":"","color":"black","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"room/servo","topicType":"str","x":437.0000305175781,"y":281.6665344238281,"wires":[["7d69b52b.d5084c","bd53f949.1b8b2"]]},{"id":"bd53f949.1b8b2","type":"ui_gauge","z":"898e9a9b.2c53e","name":"","group":"1e5c02d5.fe327d","order":5,"width":0,"height":0,"gtype":"donut","title":"Servo position ","label":"position ","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":818,"y":349.66650390625,"wires":[]},{"id":"9f32f880.5ce358","type":"ui_button","z":"898e9a9b.2c53e","name":"Max 100%","group":"1e5c02d5.fe327d","order":3,"width":0,"height":0,"passthru":false,"label":"Max 100%","tooltip":"","color":"black","bgcolor":"","icon":"","payload":"100","payloadType":"str","topic":"room/servo","topicType":"str","x":439.0000305175781,"y":370.33319091796875,"wires":[["7d69b52b.d5084c","bd53f949.1b8b2"]]},{"id":"f85b55ee.c377c","type":"ui_button","z":"898e9a9b.2c53e","name":"50%","group":"1e5c02d5.fe327d","order":2,"width":0,"height":0,"passthru":false,"label":"50%","tooltip":"","color":"black","bgcolor":"","icon":"","payload":"50","payloadType":"num","topic":"room/servo","topicType":"str","x":428.0000305175781,"y":323.66650390625,"wires":[["7d69b52b.d5084c","bd53f949.1b8b2"]]}]