Project Code/Node-Red/flows.json
[{"id":"bb69e7a4.44a3e8","type":"tab","label":"Room","disabled":false,"info":""},{"id":"8c3fc058.b2b7e","type":"tab","label":"ESP8266 MQTT","disabled":false,"info":""},{"id":"a5a62563.ec3cf","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1216f09f.0e292f","type":"ui_tab","name":"Room","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"5b4aced2.d78d98","type":"ui_group","name":"Lamp","tab":"1216f09f.0e292f","order":1,"disp":true,"width":"6","collapse":false},{"id":"53c48569.a8e224","type":"ui_group","name":"Sensor","tab":"1216f09f.0e292f","order":2,"disp":true,"width":"6","collapse":false},{"id":"1924539.d794fac","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1e5c02d5.fe327d","type":"ui_group","name":"Servo Control","tab":"1216f09f.0e292f","order":2,"disp":true,"width":"6","collapse":false},{"id":"62b1c8c5.1791b8","type":"ui_chart","z":"bb69e7a4.44a3e8","name":"Temp","group":"53c48569.a8e224","order":0,"width":0,"height":0,"label":"Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":630,"y":280,"wires":[[]]},{"id":"f5f25019.ff4b48","type":"ui_gauge","z":"bb69e7a4.44a3e8","name":"Humidity","group":"5b4aced2.d78d98","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":360,"wires":[]},{"id":"f42b4a92.599ab","type":"mqtt in","z":"bb69e7a4.44a3e8","name":"Temp","topic":"room/temperature","qos":"2","datatype":"auto","broker":"1924539.d794fac","x":440,"y":280,"wires":[["62b1c8c5.1791b8"]]},{"id":"fcc7ccd1.75ee9","type":"mqtt out","z":"bb69e7a4.44a3e8","name":"Lamp","topic":"room/lamp","qos":"1","retain":"","broker":"1924539.d794fac","x":630,"y":200,"wires":[]},{"id":"d08fe1cd.73fb1","type":"mqtt in","z":"bb69e7a4.44a3e8","name":"Humidity","topic":"room/humidity","qos":"2","datatype":"auto","broker":"1924539.d794fac","x":460,"y":360,"wires":[["f5f25019.ff4b48"]]},{"id":"aa9656aa.3f833","type":"ui_switch","z":"bb69e7a4.44a3e8","name":"Lamp","label":"Lamp","tooltip":"","group":"5b4aced2.d78d98","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"room/lamp","topicType":"str","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":450,"y":200,"wires":[["fcc7ccd1.75ee9"]]},{"id":"5b335d75.887adc","type":"mqtt out","z":"8c3fc058.b2b7e","name":"room/servo","topic":"room/servo","qos":"2","retain":"false","broker":"1924539.d794fac","x":950,"y":380,"wires":[]},{"id":"ade34b74.093aa8","type":"ui_button","z":"8c3fc058.b2b7e","name":"Min  0%","group":"1e5c02d5.fe327d","order":1,"width":0,"height":0,"passthru":false,"label":"Min  0%","tooltip":"","color":"black","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"room/servo","topicType":"msg","x":557.0000305175781,"y":381.6665344238281,"wires":[["4fba956c.b29374"]]},{"id":"8d0b9cc3.82e4d","type":"ui_slider","z":"8c3fc058.b2b7e","name":"","label":"Servo","tooltip":"","group":"1e5c02d5.fe327d","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"room/servo","topicType":"str","min":0,"max":"100","step":1,"x":554.0000305175781,"y":529.66650390625,"wires":[["4fba956c.b29374"]]},{"id":"1ce7310b.d24b2f","type":"ui_gauge","z":"8c3fc058.b2b7e","name":"","group":"1e5c02d5.fe327d","order":5,"width":0,"height":0,"gtype":"donut","title":"Servo position ","label":"position ","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":938,"y":449.66650390625,"wires":[]},{"id":"f13c319a.7adf18","type":"ui_button","z":"8c3fc058.b2b7e","name":"Max 100%","group":"1e5c02d5.fe327d","order":3,"width":0,"height":0,"passthru":false,"label":"Max 100%","tooltip":"","color":"black","bgcolor":"","icon":"","payload":"100","payloadType":"str","topic":"room/servo","topicType":"str","x":559.0000305175781,"y":470.33319091796875,"wires":[["4fba956c.b29374"]]},{"id":"4fba956c.b29374","type":"function","z":"8c3fc058.b2b7e","name":"node","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":745.0000610351562,"y":415.3331604003906,"wires":[["5b335d75.887adc","1ce7310b.d24b2f","35ad8f49.3fcba"]]},{"id":"35ad8f49.3fcba","type":"link out","z":"8c3fc058.b2b7e","name":"slider","links":["9b340010.02bb78"],"x":901,"y":531.3331298828125,"wires":[]},{"id":"9b340010.02bb78","type":"link in","z":"8c3fc058.b2b7e","name":"","links":["35ad8f49.3fcba"],"x":456.6923351287842,"y":591.7434501647949,"wires":[["8d0b9cc3.82e4d"]]},{"id":"c8334f.79ba74b","type":"ui_button","z":"8c3fc058.b2b7e","name":"50%","group":"1e5c02d5.fe327d","order":2,"width":0,"height":0,"passthru":false,"label":"50%","tooltip":"","color":"black","bgcolor":"","icon":"","payload":"50","payloadType":"num","topic":"room/servo","topicType":"msg","x":548.0000305175781,"y":423.66650390625,"wires":[["4fba956c.b29374"]]},{"id":"5e5385a6.4ff8b4","type":"comment","z":"8c3fc058.b2b7e","name":"ESP8266 MQTT Control Servo","info":"","x":622.0000305175781,"y":310.66650390625,"wires":[]}]